<!DOCTYPE html>
<html>
<head>
    <title>Compose Email</title>
</head>
<body>
<h1><%= compose %></h1>
<form name="" method="POST" action="">
    <table>
        <tr>
            <td>To</td>
            <td><input type="text" name="username" ></td>
        </tr>
        <tr>
            <td>Message</td>
            <td><input type="text" name="password" ></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Send" ></td>
        </tr>
    </table>
</form>

</body>

</html>